/* Service */
.services {
    padding: 90px 0;
}
.services-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}
.service-card {
    flex: 1 1 0;
    min-width: 315px;
}
.service-card-img {
    margin-bottom: 30px;
}
.service-card-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}
.service-card p {
    line-height: 2;
}