/* Footer */
.contacts {
    padding: 90px 0;
    text-align: center;
}
.contacts-title {
    margin-bottom: 40px;
}
.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 18px;
}
.contacts-content p + p {
    margin-top: 1em;
}
.contacts-button {
    margin-bottom: 80px;
}
.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}
.contacts-footer {
    color: #828282;
}